/* NFT cards */

/* 
    Main :
        Border Color : rgb(226, 115, 24)
        Title / Text Color : rgb(255, 255, 255, 0.75)
        Sub Title Color : rgba(215, 215, 215, 0.5)
*/

.userItem {
  margin-top: 25px;
  border-radius: 2px;
  color: rgb(255, 255, 255, 0.75);
  border: 1.5px solid black;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: fit-content;
}

.userItem:hover {
  border: 1.5px solid rgba(255, 123, 0, 0.76);
  cursor: pointer;
}

.userItemCard {
  background-color: black;
}

.cardMedia {
  border-radius: 20px;
  width: 250px;
  height: 250px;
  padding: 5px;
  object-fit: cover;
}

.heartIcon {
  font-size: 20px;
  color: gray;
}

.cardTitle {
  color: rgba(255, 255, 255, 0.75);
  font-size: medium;
}

.cardTags {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.cardTag {
  background-color: rgba(226, 115, 24, 0.178);
  color: rgb(226, 115, 24);
  font-size: small;
  padding: 4px;
  border-radius: 4px;
  margin-right: 5px;
}

.cardSubTitle {
  font-size: smaller;
  color: rgba(215, 215, 215, 0.5);
}

.cardContent {
  text-align: center;
  padding: 10px;
}

.cardRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5px 0px 5px 0px;
}

.cardPrice {
  font-size: small;
}

.cardText {
  font-size: small;
}

.loadMore {
  margin: 30px 0px 30px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.loadMoreButton {
  background: linear-gradient(
    130deg,
    rgb(226, 115, 24) 0%,
    rgb(253, 51, 0) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: small;
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  border: 1px solid rgb(226, 115, 24);
}

.loadMoreButton:hover {
  background: linear-gradient(
    to right,
    rgb(226, 115, 24) 0%,
    rgb(253, 51, 0) 100%
  );
  -webkit-text-fill-color: rgb(255, 255, 255, 0.75);
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
}

.modal-content-section {
  display: flex;
  flex-flow: row;
}

.modal-col {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.modal-title {
  color: rgba(255, 123, 0, 0.879);
}

.modal-row {
  margin: 10px 0px 0px 0px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.modal-box {
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(45, 45, 45);
  border: 2px solid rgba(45, 45, 45, 0.75);
  border-radius: 10px;
  outline: none;
  box-shadow: 24;
  padding: 15px;
}

.modal-media {
  height: 400px;
  width: 400px;
  border-radius: 16px;
}

.modal-row-title {
  color: rgba(121, 121, 121, 0.885);
}

.buy-sell {
  justify-content: center;
  flex-grow: 1;
  align-items: flex-end;
}

.onSaleEnabled {
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(1, 167, 1, 0.5);
  color: rgba(255, 255, 255, 0.74);
}

.onSaleDisabled {
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(205, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.74);
}

.modal-address {
  border: 1px dashed rgba(255, 255, 255, 0.492);
  padding: 5px;
  border-radius: 5px;
  color: rgba(99, 255, 43, 0.509);
}

.modal-price {
  padding: 2px 10px 2px 10px;
  border-radius: 5px;
  border: 1.5px dashed rgb(54, 141, 0);
}

.modal-eth-logo {
  margin: 0px 0px 0px 10px;
}

#buyButton {
  width: 60%;
  background-color: green;
}

#sellButton {
  width: 60%;
  background-color: red;
}

.card-buy-sell-btn {
  margin-top: 7px;
  padding: 7px;
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(255, 255, 255, 0.75);
  text-align: center;
  background: rgb(226, 115, 24);
  background: linear-gradient(
    130deg,
    rgb(226, 115, 24) 0%,
    rgb(194, 58, 13) 100%
  );
  transition-duration: 0.2s;
}

.card-buy-sell-btn:hover {
  background: rgb(0, 0, 0);
  border: 2px solid rgb(226, 115, 24);
  cursor: pointer;
  color: rgb(255, 255, 255, 0.75);
}
